
<!-- FUTUR FOOTER -->
<div id="contact">
	<img src="images/ahautot.jpg" alt="portrait andre hautot" />
	<div>
		<h3>ANDRE HAUTOT</h3>
		<h4>Dr. en Physique<br/>Université de Liège<br/>Belgique</h4>
		<p><a href="mailto:ahautot@physinfo.org">ahautot@physinfo.org</a></p>
	</div>
</div>

<div id="articlesRecents">
	<h5>ARTICLES RECENTS</h5>
	<ul>
		<li><a href="#">Dolor sit amet sit</a></li>
		<li><a href="#">Sed do eiusmod aliquip</a></li>
		<li><a href="#">Excepteur sint ex</a></li>
	</ul>
</div>

<div id="sitesDeReferences">
	<h5>SITES DE REFERENCES</h5>
	<ul>
		<li><a href="referencesSciencesExactes.html">Sciences exactes</a></li>
		<li><a href="referencesMusiques.html">Musiques</a></li>
		<li><a href="referencesCommerciales.html">Commerciales</a></li>
	</ul>
</div>

<div id="copyRight">
	<p>
		<span>Copyright © 2017 </span> |
		<span>Tous droits réservés </span> |
		<span>Site réalisé par Rey Emilie </span> :
		<a href="http://www.acyian.com/">www.acyian.com</a> |
		<a href="sitemap.html">Sitemap</a>
	</p>
</div>