<div id="menuGauche" class="menu">
  <div class="tablecell">
    <div class="centered">
      <h1>Physique</h1>
      <ul id="navPhysique">
        <li><a class="accueil" href="index.html">Accueil</a></li>
        <li><a id="contenuphysique" href="contenuphysique.html">Présentation</a></li>
        <li><a id="seminaires" href="Seminaires.html">Séminaires</a></li>
        <li><a id="cours" href="cours.html">Cours</a></li>
        <li><a id="divers" href="divers.html">Divers</a></li>
        <li>
          <ul id="sousNavPhysique">
            <li><a href="phys.html">Phys</a></li>
            <li><a href="math.html">Math</a></li>
            <li><a href="info.html">Info</a></li>
          </ul>
        </li>
        <li><a href="feynmania.html">Feynmania</a></li>
        <li><a href="wolframania.html">Wolframania</a></li>
        <li><a href="references.html">Références</a></li>
      </ul>
      </div>
    </div>
</div>

<div id="menuDroite" class="menu">
  <div class="tablecell">
      <div class="centered">
        <h1>Musique</h1>
        <nav id="menuPrincipalMusique">
          <ul id="navMusique">
            <li><a class="accueil" href="index.html">Accueil</a></li>
            <li><a id="contenumusique" href="contenumusique.html">Présentation</a></li>
            <li><a id="musique2001" href="musique2001.html">Musique 2001</a></li>
            <li><a id="crossover" href="crossover.html">Crossover</a></li>
            <li><a id="chroniques" href="chroniques.html">Chroniques</a></li>
            <li>
              <ul id="sousNavMusique">
                <li><a href="billetdhumeur.html">Billets d'Humeur</a></li>
                <li><a href="tourdumondedemusiqueactuelle.html">Tour du monde</a></li>
                <li><a href="portraitscompositeurs.html">Portraits</a></li>
                <li><a href="grandscycles.html">Grands Cycles</a></li>
                <li><a href="tiresdeloubli.html">Tirés de l'oubli</a></li>
              </ul>
            </li>
            <li><a href="quizz.html">Who's who </a></li>
          </ul>
        </nav>
      </div>
    </div>
</div>